In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

# Filtered Dataset
filtered_data = Path("Datasets/filtered_data.csv")
filtered_df = pd.read_csv(filtered_data)
filtered_df.head()

,Movie Name,Vote Average,Vote Count,Production Companies,Revenue,Year of Release,Movie Rating,Votes,Gross,Genre,Certification,Director
0,Mother's Day,6.0,94,['Akson Studio'],0,2016.0,5.6,38894.0,32460000.0,"['Comedy', ' Drama', ' Romance']",PG-13,['Garry Marshall']
1,Spider-Man: Into the Spider-Verse,8.4,13081,"['Columbia Pictures', 'Lord Miller', 'Pascal P...",375464627,2018.0,8.4,632177.0,190240000.0,"['Animation', ' Action', ' Adventure']",PG,"['Bob Persichetti', 'Peter Ramsey', 'Rodney Ro..."
2,Transformers: Age of Extinction,5.9,7359,"['di Bonaventura Pictures', 'Tom DeSanto/Don M...",1104054072,2014.0,5.6,326960.0,245440000.0,"['Action', ' Adventure', ' Sci-Fi']",PG-13,['Michael Bay']
3,Transformers: The Last Knight,6.1,5548,"['Paramount', 'di Bonaventura Pictures', 'Ian ...",605425157,2017.0,5.2,164230.0,130170000.0,"['Action', ' Adventure', ' Sci-Fi']",PG-13,['Michael Bay']
4,Guardians of the Galaxy Vol. 2,7.6,19898,['Marvel Studios'],863756051,2017.0,7.6,736895.0,389810000.0,"['Action', ' Adventure', ' Comedy']",PG-13,['James Gunn']

In [13]:
audience_df = filtered_df[["Movie Name", "Year of Release", "Movie Rating", "Votes", "Certification"]]
audience_df.head()

,Movie Name,Year of Release,Movie Rating,Votes,Certification
0,Mother's Day,2016.0,5.6,38894.0,PG-13
1,Spider-Man: Into the Spider-Verse,2018.0,8.4,632177.0,PG
2,Transformers: Age of Extinction,2014.0,5.6,326960.0,PG-13
3,Transformers: The Last Knight,2017.0,5.2,164230.0,PG-13
4,Guardians of the Galaxy Vol. 2,2017.0,7.6,736895.0,PG-13

In [14]:
# List of Certifications
audience_df["Certification"].value_counts()

Certification
R            624
PG-13        501
PG           189
Not Rated     50
G             12
TV-MA          4
TV-PG          1
TV-14          1
NC-17          1
Unrated        1
Name: count, dtype: int64

In [12]:
# Group by certification and movie rating

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'